<script setup lang="ts">
import { ref } from 'vue';
type Gender = 'male' | 'female' | 'others'
type Role = 'admin' | 'user' 
type User = {
    id: number
    email: string
    password: string
    fullName: string
    gender: Gender  // Male, Female, Others
    role: Role[] // admin, user
} 
const headers = [
    {
        title: 'Id',
        key: 'id',
        value: 'id'
    },
    {
        title: 'Email',
        key: 'email',
        value: 'email'
    },
    {
        title: 'FullName',
        key: 'fullName',
        value: 'fullName'
    },
    {
        title: 'Gender',
        key: 'gender',
        value: 'gender'
    },
    {
        title: 'Role',
        key: 'role',
        value: function(item: User | any) {
            return item.role.join(', ')
        }
    }
]
const form = ref(false)
const dialog = ref(false)
const loading = ref(false)
const initialUser:User = {
  id: -1,
  email: '',
  password: '',
  fullName: '',
  gender: 'male',
  role: ['user']
}
const editedUser = ref<User>(JSON.parse(JSON.stringify(initialUser))) 
const users = ref<User[]>([{
    id: 1,
    email: 'admin',
    password: 'Pass@Word123',
    fullName: 'Admin',
    gender: 'male',
    role: ['admin', 'user']
},
{
    id: 2,
    email: 'user1',
    password: 'Pass@Word123',
    fullName: 'User1',
    gender: 'female',
    role: ['user']
},
{
    id: 3,
    email: 'user2',
    password: 'Pass@Word123',
    fullName: 'User2',
    gender: 'male',
    role: ['user']
 }
])
function onSubmit() {}
</script>
<template>
    <!-- <div>
        <v-table>
    <thead>
      <tr>
        <th class="text-left">
          ID
        </th>
        <th class="text-left">
          email
        </th>
        <th class="text-left">
          Full Name
        </th>
        <th class="text-left">
          Gender
        </th>
        <th class="text-left">
          Role
        </th>
      </tr>
    </thead>
    <tbody>
      <tr
        v-for="item in users"
        :key="item.id"
      >
        <td>{{ item.id }}</td>
        <td>{{ item.email }}</td>
        <td>{{ item.fullName }}</td>
        <td>{{ item.gender }}</td>
        <td>{{ item.role.join(',') }}</td>
      </tr>
    </tbody>
        </v-table>
    </div> -->
    <div>
        <v-data-table :headers="headers" :items="users"></v-data-table>
    <div>
      <v-row justify="center">
    <v-dialog
      v-model="dialog"
      persistent
      width="1024"
    >
      <template v-slot:activator="{ props }">
        <v-btn
          color="primary"
          v-bind="props"
        >
          Open Dialog
        </v-btn>
      </template>
      <v-card>
        <v-card-title>
          <span class="text-h5">User Profile</span>
        </v-card-title>
        <v-card-text>
          <v-form v-model="form" @submit.prevent="onSubmit" >
            <v-container>
              <v-row>
                <v-col cols="12" sm="12" md="4">
                  <v-text-field
          v-model="editedUser.email"
          :readonly="loading"
          :rules="[(v) => !!v || 'Field is required']"
          class="mb-2"
          clearable
          label="Email"
        ></v-text-field>
                </v-col>
                <v-col cols="12" sm="12" md="4">
                  <v-text-field
          v-model="editedUser.fullName"
          :readonly="loading"
          :rules="[(v) => !!v || 'Field is required']"
          class="mb-2"
          clearable
          label="Full Name"
        ></v-text-field>
                </v-col>
                <v-col cols="12" sm="12" md="4">
                  <v-text-field
          v-model="editedUser.password"
          :readonly="loading"
          :rules="[(v) => !!v || 'Field is required']"
          clearable
          label="Password"
          placeholder="Enter your password"
        ></v-text-field>
                </v-col>
                <v-col cols="12" sm="6">
                  <v-combobox label="Gender" :items="['male', 'female', 'others']" v-model="editedUser.gender">
        </v-combobox>
                </v-col>
                <v-col cols="12" sm="6">
                  <v-combobox
          v-model="editedUser.role"
          :items="[{title: 'Admin', value: 'admin'},{title: 'User', value: 'user'}]"
          label="Select a favorite activity or create a new one"
          multiple
          :return-object="false"
        ></v-combobox>
                </v-col>
              </v-row>
            </v-container>
      

      </v-form>
          <small>*indicates required field</small>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="blue-darken-1"
            variant="text"
            @click="dialog = false"
          >
            Close
          </v-btn>
          <v-btn
            color="blue-darken-1"
            variant="text"
            @click="dialog = false"
          >
            Save
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
    </div>
  </div>
</template>